
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }
nav img{
  width: 60px;
  height: 60px;
  margin: 5px;
  margin-left: 10px;
}
/* Evitamos problemas con las imágenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center; }

/* Reseteamos los enlaces*/
a {
  display: block; }

p a {
  display: inline; }

/* Quitamos los puntos de los li */
li {
  list-style-type: none; }

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth; }

/* Carrito de compras */
.carrito.producto .calculadora {
  border-top-left-radius: 1rem;
}
.disabled {
  display: none;
}
.carrito-producto {
background: linear-gradient(white, white, white, rgb(231, 231, 231)) ;

}

/* Desactivamos estilos por defecto de las principales etiquetas (texto) */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

/* Evitamos problemas con los pseudoelementos */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario); }

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; }

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* Evitamos problemas con lis SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor; }

/* La tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: var(--color-secundario);
  line-height: 1.4em;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

  div .carousel-inner{
    width: 100%;
    height:calc(100vh - 86px)
  }
  div .carousel-inner img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

 .title {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  } 

  tr{
    color: #f0f0f0;
  }
  .card-body{
    color: rgb(247, 247, 247);
    background-color: #181818;
    text-align: center;
  }
  .card{
    background-color: #e3e0f2;
    color: #f0f0f0;
  }


.padding--margin {
  padding: 2rem;
  margin: 3rem; }

#botonDatosCareers {
  margin: 1rem 0; }

.padding {
  padding: 2rem; }

  /*FOOTER */
.footer-form {
    margin-top: auto;
  }
  
footer {
    background-color: rgb(27, 95, 185);
    font-size: 25px;
    padding-top: 2rem;
  }
  
footer .ul__redes .redes-sociales {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    border: 1px solid #f3ef06;
    border-radius: 50%;
    transition: all 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
footer .ul__redes .redes-sociales a {
    color: #f3ef06;
  }
  
footer .ul__redes .redes-sociales a:hover {
    opacity: 0.65;
  }
  
footer .ul__redes .redes-sociales a:hover .logo-social {
    color: #f3ef06;
  }

/* Botones de carrito */
.boton-menu {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 0.85rem;
  width: 100%;
}

.boton-menu.active {
  background-color: white;
  color: var(--clr-main);
  position: relative;
  border-top-right-radius: 4px;
}

.boton-menu.active::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
}

.boton-menu.active::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
}

/* css opcional */
.calculadora {
  background: linear-gradient(var(--clr-white), white);
}

aside {
  background: linear-gradient(rgb(181, 181, 181), rgb(206, 206, 206), white);
  position: sticky;
  top: 0;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 1rem;
  margin-bottom: 2rem;
}